<%= link_to('<< Back to list',{:action=>'index'},:class=>'Back link') %>

<div class="users new">
  <h2>Create Admin user</h2>
  <%=form_for(:admin_user, :url=>{:action=>'create'}) do |f|%>
      <%= render(:partial => 'form',:locals=>{:f=>f}) %>
      <div class="form-buttons">
        <%= submit_tag('Create Admin user') %>
      </div>

  <%end%>
</div>